.container {
    width: 300px;
    border: solid 1px #DCDCDC;
    position: relative;
    margin: 0 auto;
    box-shadow: #DCDCDC 8px 8px;
    
    
}

.container .colunas{
    display: flex;
    justify-content: space-between;
    margin: 85px 0 0 0;
    padding: 10px;
}

.container .perfhomem img{
    width: 100px;
}
.container .perfmulher img{
    width: 100px;
}

.container .topoContagem{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 0!important;
    position: absolute;
    top: 0px;
    right: 5px;
}
.container .votosGeral{
   border: solid 1px #000;
   border-radius: 10px;
   padding: 5px 20px;
   text-align: center;
}
.container .divtotalgeral{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.container .recarrega{
    width: 25px;
    margin: 15px 10px 0 0;
    cursor: pointer;
}
.botAdd{
    width: 45px;
    cursor: pointer;
}

.botRemove{
    width: 25px;
    cursor: pointer;
}

.divmulher{  
    width: 90px;
    margin-left: 15px;
    margin-top: -100px;
}
.divHomem{  
    width: 90px;
    margin-left: 15px;
    margin-top: -100px;
}

