button{
    flex: 1;
    width: 30px;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px; 
    cursor: pointer; 

    
}

.fundo{
    background-color: black;
    border-radius: 1em;
    
}
.monitor {
    display: flex;
    width: 250px;
    height: 55px;
    border: solid 1px #030303;
    background-color:rgb(197, 243, 228);
    margin-bottom: 10px; 
    margin-top:  10px;;
    border-radius: 10px;
    text-align: left;
    align-content: center;    
    padding: 10px;
    color: black;
}
.voltar{
    display: flex;  
    color: rgb(248, 245, 245);  
    text-align: left;
    align-content: center;  
}